# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# egg info
*.egg-info

# Pycharm
**/.idea/

# view_model
partition_tree_n2.html
*n2.html

# SNOPT
SNOPT_print.out
SNOPT_summary.out

# OS X
.DS_Store

# Sphinx build directory
# docs/build/
# docs/*.png

# nosetests coverage
.coverage

# ipython notebook
.ipynb_checkpoints

# cProfile
*.profile

# Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.tui
*.top
*.tmp
*.mp
*.dvi
*.glg
*.gls
*.nlo
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# fortran
fort.6

# JOSS
/joss/apa.csl
/joss/joss-logo.png
/joss/dymos_joss.pdf
/joss/compile
/joss/joss_demo.py
/joss/latex.template
/joss/paper.pdf

# mkdocs
/mkdocs/site

# Docs
docs/dymos_book/_build
docs/dymos_book/_srcdocs

# Dymos and OpenMDAO files
**/*.db
**/*.sql
**/coloring_files
**/reports

# Misc files
docs/faq/*/*.pkl
docs/faq/*.db

# Jupyter Ignores
docs/_build/
