branches:
  only:
    - master
    - develop

sudo: false

os:
  - linux

env:
  - PY=3.8 NUMPY=1.18.1 SCIPY=1.4.1 PYOPTSPARSE=v2.1.5 SNOPT=7.7 PETSc=3.12 UPLOAD_DOCS=1
  - PY=3.7 NUMPY=1.18.1 SCIPY=1.4.1 PYOPTSPARSE=v2.1.5 SNOPT=7.7 PETSc=3.12
  - PY=3.6 NUMPY=1.18.1 SCIPY=1.4.1 PYOPTSPARSE=v2.1.5 SNOPT=7.7 PETSc=3.12

language: generic

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gfortran
    - libblas-dev
    - liblapack-dev
    - libopenmpi-dev
    - openmpi-bin
    ssh_known_hosts:
    - web543.webfaction.com

cache:
  apt: true
  timeout: 300
  directories:
    - $HOME/.cache/pip
    - $HOME/miniconda

before_install:
# Check for existence of files to determine if cache exists
# If the dir doesn't exist, but is slated to be cached later,
# Travis unhelpfully creates it, which then causes "dir already exists"
# errors when you go to actually install the thing, so we must non-intuitively
# delete the file before re-creating it later.
- if [ -f $HOME/miniconda/envs/PY$PY ]; then
    echo "cached miniconda environment found";
    CACHED_ENV=1;
  else
    echo "cached miniconda environment not found";
    rm -rf $HOME/miniconda;
  fi

- if  [ "$TRAVIS_REPO_SLUG" = "OpenMDAO/dymos" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    MASTER_BUILD=1;
  fi

install:
# get key decrypted, placed, chmodded, and added for passwordless access to WebFaction
- if [ "$encrypted_4548f0b84c7d_key" ]; then
    openssl aes-256-cbc -K $encrypted_4548f0b84c7d_key -iv $encrypted_4548f0b84c7d_iv -in travis_deploy_rsa.enc -out /tmp/travis_deploy_rsa -d;
    eval "$(ssh-agent -s)";
    chmod 600 /tmp/travis_deploy_rsa;
    ssh-add /tmp/travis_deploy_rsa;
    echo -e "Host web543.webfaction.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config;
  else
    echo "KEY NOT FOUND";
  fi

# if we have a cached miniconda environment then just activate the cached one, otherwise, build one
- if [ "$CACHED_ENV" ]; then
    echo "Using cached environment..."
    export PATH=$HOME/miniconda/bin:$PATH;
    source $HOME/miniconda/bin/activate PY$PY;
  else
    echo "Building python environment...";
    wget -q "https://repo.continuum.io/miniconda/Miniconda${PY:0:1}-latest-Linux-x86_64.sh" -O miniconda.sh;
    bash miniconda.sh -b -p $HOME/miniconda;
    source "$HOME/miniconda/etc/profile.d/conda.sh";
    hash -r;
    conda config --set always_yes yes --set changeps1 no;
    conda update -q conda;
    conda info -a;

    conda create --yes -n PY$PY python=$PY;
    conda activate PY$PY;
    conda config --add channels conda-forge;

    conda install --yes cython sphinx mock swig pip numpy=$NUMPY scipy=$SCIPY mpi4py matplotlib;
    sudo apt-get install gfortran;

    python -m pip install --upgrade pip;
    python -m pip install sqlitedict;
    python -m pip install nose;
    python -m pip install networkx;
    python -m pip install testflo==1.3.6;
    python -m pip install pyyaml;
    python -m pip install coveralls;
    python -m pip install bokeh;

    python -m pip install mkdocs
    python -m pip install mkdocs-material
    python -m pip install pymdown-extensions
    python -m pip install mkdocs-macros-plugin
    python -m pip install mkdocs-bibtex
    python -m pip install mike

    echo "Clone the build_pyoptsparse script";
    echo $PWD;
    git clone https://github.com/OpenMDAO/build_pyoptsparse;

    if [ "$SNOPT_LOCATION" ]; then
      echo "Install SNOPT";
      cd build_pyoptsparse/pyoptsparse/pyoptsparse/pySNOPT;
      scp -r "$SNOPT_LOCATION";
      cd ../../../../;
      echo $PWD;
    fi

    echo "Build pyoptsparse";
    cd build_pyoptsparse;
    chmod 755 ./build_pyoptsparse.sh;
    ./build_pyoptsparse.sh v2.1.5 SNOPT=7.7;
    cd ..;
    echo $PWD

    git clone https://github.com/OpenMDAO/MBI.git;
    cd MBI;
    python setup.py build install;
    cd ..;
    echo $PWD

    if [ "$PETSc" ]; then
      echo " >> Installing parallel processing dependencies";
      conda install --yes petsc4py=$PETSc;
    fi

  fi

# install OpenMDAO in developer mode so we have access to its sphinx extensions
- git clone https://github.com/OpenMDAO/OpenMDAO.git;
- cd OpenMDAO;
- pip install -e .[all];
- cd ..;

# install dymos itself.
- echo $PWD;
- python -m pip install -e .[all];

# display summary of installed packages and their versions
- conda list

script:
# change to the dymos path and run unit tests
- export LD_LIBRARY_PATH=/home/travis/ipopt/lib
- dymos_path=$(python -c "import dymos as dm; import inspect; import pathlib; p=pathlib.PurePath(inspect.getfile(dm)).parent; print(p)" | tail -1);
- export OMPI_MCA_rmaps_base_oversubscribe=1
- testflo $dymos_path -n 1 --show_skipped --coverage --coverpkg dymos;
- testflo -n 1 joss/test --pre_announce
- testflo -b benchmark --pre_announce
# change to mkdocs path and build the documentation
- cd mkdocs;
- mkdocs build --verbose --clean

# after_success:
# - cd ..;
# - coveralls -v;

deploy:
  on:
    condition: $UPLOAD_DOCS = 1
    push:
      branches:
        - master
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: false
  local_dir: mkdocs/site
  committer_from_gh: true
  verbose: true
