branches:
  only:
    - master
    - develop

sudo: false

os:
  - linux

env:
  - PY=3.7 PETSc=3.10.0
  - PY=3.6 PETSc=3.10.0 UPLOAD_DOCS=1

language: generic

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gfortran
    - libblas-dev
    - liblapack-dev
    - libopenmpi-dev
    - openmpi-bin
    ssh_known_hosts:
    - web543.webfaction.com

cache:
  apt: true
  timeout: 300
  directories:
    - $HOME/.cache/pip
    - $HOME/miniconda

before_install:
# Check for existence of files to determine if cache exists
# If the dir doesn't exist, but is slated to be cached later,
# Travis unhelpfully creates it, which then causes "dir already exists"
# errors when you go to actually install the thing, so we must non-intuitively
# delete the file before re-creating it later.
- if [ -f $HOME/miniconda/envs/PY$PY ]; then
    echo "cached miniconda environment found";
    CACHED_ENV=1;
  else
    echo "cached miniconda environment not found";
    rm -rf $HOME/miniconda;
  fi

- if  [ "$TRAVIS_REPO_SLUG" = "OpenMDAO/dymos" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
    MASTER_BUILD=1;
  fi

install:
# get key decrypted, placed, chmodded, and added for passwordless access to WebFaction
- if [ "$encrypted_38b986bc515e_key" ]; then
    openssl aes-256-cbc -K $encrypted_38b986bc515e_key -iv $encrypted_38b986bc515e_iv -in travis_deploy_rsa.enc -out /tmp/travis_deploy_rsa -d;
    eval "$(ssh-agent -s)";
    chmod 600 /tmp/travis_deploy_rsa;
    ssh-add /tmp/travis_deploy_rsa;
    echo -e "Host web543.webfaction.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config;
  else
    echo "KEY NOT FOUND";
  fi

# if we have a cached miniconda environment then just activate the cached one, otherwise, build one
- if [ "$CACHED_ENV" ]; then
    echo "Using cached environment..."
    export PATH=$HOME/miniconda/bin:$PATH;
    source $HOME/miniconda/bin/activate PY$PY;
  else
    echo "Building python environment...";
    wget -q "https://repo.continuum.io/miniconda/Miniconda${PY:0:1}-latest-Linux-x86_64.sh" -O miniconda.sh;
    bash miniconda.sh -b -p $HOME/miniconda;
    source "$HOME/miniconda/etc/profile.d/conda.sh";
    hash -r;
    conda config --set always_yes yes --set changeps1 no;
    conda update -q conda;
    conda info -a;

    conda create --yes -n PY$PY python=$PY;
    conda activate PY$PY;
    conda config --add channels conda-forge;

    conda install --yes cython sphinx mock swig pip numpy=1.18.1 scipy=1.3.0 mpi4py matplotlib;
    sudo apt-get install gfortran;

    pip install --upgrade pip;
    pip install sqlitedict;
    pip install nose;
    pip install networkx;
    pip install testflo==1.3.6;
    pip install pyyaml;
    pip install coveralls;
    pip install --user travis-sphinx;

    echo "Install pyoptsparse and along with IPOPT";
    if [ "$PYOPT_INSTALL_SCRIPT" ]; then
      echo "Copy install script";
      cd ..;
      scp "$PYOPT_INSTALL_SCRIPT" .;
      chmod 755 ./build_pyoptsparse_ipopt.sh; ./build_pyoptsparse_ipopt.sh;
    fi

    if [ "$SNOPT_LOCATION" ] && [ "${PY:0:1}" = "3" ]; then
      echo "Install SNOPT";
      cd pyoptsparse/pyoptsparse/pySNOPT;
      scp -r "$SNOPT_LOCATION";
      cd ../../..;
      cd dymos;
    fi

    git clone https://github.com/OpenMDAO/MBI.git;
    cd MBI;
    python setup.py build install;
    cd ..;

    if [ "$PETSc" ]; then
      echo " >> Installing parallel processing dependencies";
      conda install --yes petsc4py=$PETSc;
    fi

  fi

# install OpenMDAO in developer mode so we have access to its sphinx extensions
- git clone https://github.com/OpenMDAO/OpenMDAO.git;
- cd OpenMDAO;
- pip install -e .[all];
- cd ..;

# install dymos itself.
- python -m pip install -e .;

# display summary of installed packages and their versions
- conda list

script:
# change to the dymos path and run unit tests
- dymos_path=$(python -c "import dymos as dm; import inspect; import pathlib; p=pathlib.PurePath(inspect.getfile(dm)).parent; print(p)" | tail -1);
- export OMPI_MCA_rmaps_base_oversubscribe=1
- testflo -n 1 $dymos_path --pre_announce --coverage --coverpkg dymos;
- testflo -b -n 1 benchmark --pre_announce
- if [ "$UPLOAD_DOCS" ]; then
    travis-sphinx build --source=dymos/docs;
  fi

after_success:
- if [ "$MASTER_BUILD" ] && [ "$UPLOAD_DOCS" ]; then
    travis-sphinx deploy;
  fi
- coveralls;
