# Run Tests

name: Dymos Tests

on:
  # Trigger on push, pull request
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, develop ]

  # Allow running the workflow manually from the Actions tab
  # All jobs are excluded by default, desired jobs must be selected
  workflow_dispatch:

    inputs:

      run_name:
        type: string
        description: 'Name of workflow run as it will appear under Actions tab:'
        required: false
        default: ""

      baseline:
        type: boolean
        description: "Include 'baseline' in test matrix"
        required: false
        default: true

      no_pyoptsparse:
        type: boolean
        description: "Include 'no_pyoptsparse' in test matrix"
        required: false
        default: true

      numpy2_no_pyoptsparse:
        type: boolean
        description: "Include 'numpy2_no_pyoptsparse' in test matrix"
        required: false
        default: true

      no_snopt:
        type: boolean
        description: "Include 'no_snopt' in test matrix"
        required: false
        default: true

      no_mpi:
        type: boolean
        description: "Include 'no_mpi' Baseline in test matrix"
        required: false
        default: true

      latest:
        type: boolean
        description: "Include 'latest' in test matrix"
        required: false
        default: true

      python313:
        type: boolean
        description: "Include 'python313' in test matrix"
        required: false
        default: true

      oldest:
        type: boolean
        description: "Include 'oldest' in test matrix"
        required: false
        default: true

      use_pypi:
        type: boolean
        description: 'Run tests against the published PyPI version of Dymos'
        required: false
        default: false

concurrency:
  # Cancel any existing CI runs if we push to this branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

run-name:  ${{ inputs.run_name }}

jobs:

  test_ubuntu:
    runs-on: ubuntu-22.04

    defaults:
      run:
        shell: bash -l {0}

    timeout-minutes: 90

    strategy:
      fail-fast: false
      matrix:
        include:
          # baseline versions
          - NAME: baseline
            OPENMDAO_PIXI_ENVIRONMENT: 'py313'
            OPENMDAO_INSTALL_FROM: 'pypi'
            OPENMDAO: '3.41.0'
            DYMOS_2: False
            PEP517: True
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch'  && ! inputs.latest }}

          # baseline versions except no MPI/PETSc
          - NAME: no_mpi
            OPENMDAO_PIXI_ENVIRONMENT: 'default'
            OPENMDAO_INSTALL_FROM: 'pypi'
            OPENMDAO: '3.41.0'
            DYMOS_2 : False
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch'  && ! inputs.latest }}

          # latest versions
          - NAME: latest
            OPENMDAO_PIXI_ENVIRONMENT: 'py313'
            OPENMDAO_INSTALL_FROM: 'github'
            OPENMDAO: ''
            DYMOS_2 : False
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch'  && ! inputs.latest }}

          # latest versions dymos 2 testing
          - NAME: latest_dymos_2
            OPENMDAO_PIXI_ENVIRONMENT: 'py313'
            OPENMDAO_INSTALL_FROM: 'github'
            OPENMDAO: ''
            DYMOS_2 : True
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch'  && ! inputs.latest }}

          # oldest supported versions
          - NAME: oldest
            OPENMDAO_PIXI_ENVIRONMENT: 'oldest'
            OPENMDAO_INSTALL_FROM: 'pypi'
            OPENMDAO: '3.38.0'
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch'  && ! inputs.oldest }}

    steps:
      - name: Display run details
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Run #${GITHUB_RUN_NUMBER}"
          echo "Run ID: ${GITHUB_RUN_ID}"
          echo "Testing: ${GITHUB_REPOSITORY}"
          echo "Triggered by: ${GITHUB_EVENT_NAME}"
          echo "Initiated by: ${GITHUB_ACTOR}"
          echo "============================================================="
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            if [[ "${{ matrix.EXCLUDE }}" == "false" ]]; then
              echo "Triggered by 'workflow_dispatch', '${{ matrix.NAME }}' build was selected and will run."
            else
              echo "Triggered by 'workflow_dispatch', '${{ matrix.NAME }}' build not selected and will not run."
            fi
          fi

      - name: Checkout code
        if: ${{ ! matrix.EXCLUDE }}
        uses: actions/checkout@v6

      - name: 'Setup OpenMDAO pixi Environment'
        id: setup_pixi_environment
        uses: OpenMDAO/OpenMDAO/.github/actions/setup_openmdao_pixi@master
        with:
          environment: '${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }}'
          openmdao_install_from: '${{ matrix.OPENMDAO_INSTALL_FROM }}'
          openmdao_version: '${{ matrix.OPENMDAO }}'

      - name: Install Dymos
        if: ${{ ! matrix.EXCLUDE }}
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Install Dymos"
          echo "============================================================="
          if [[  "${{ inputs.use_pypi }}" == "true" ]]; then
            echo "-----------------------------------------------------------"
            echo "Installing from PyPI"
            echo "-----------------------------------------------------------"
            python -m pip install dymos --no-deps
          elif [[ "${{ matrix.PEP517 }}" == "true" ]]; then
            pip wheel --no-deps --use-pep517 .
            WHEEL=$(find dymos-*.whl)
            echo "-----------------------------------------------------------"
            echo "Installing from wheel: $WHEEL"
            echo "-----------------------------------------------------------"
            python -m pip install "$WHEEL"
          else
            python -m pip install .  --no-deps
          fi

      - name: Install optional dependencies
        if: matrix.OPENMDAO_PIXI_ENVIRONMENT == 'dev'
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Install additional packages for testing/coverage"
          echo "============================================================="
          echo "Pre-install playwright dependencies to avoid 'Playwright Host validation warning'"
          pip install playwright
          playwright install --with-deps

      - name: Set Environment for Dymos 2
        if: matrix.DYMOS_2
        shell: bash -l {0}
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Setting environement variable DYMOS_2=1"
          echo "============================================================="
          export "$DYMOS_2"=1
          echo "$DYMOS_2=1" >> $"GITHUB_ENV"

      - name: Perform linting with Ruff
        if: ${{ ! matrix.EXCLUDE && matrix.NAME == 'baseline' }}
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Lint Dymos code per settings in pyproject.toml"
          echo "============================================================="
          ruff check . --config pyproject.toml

      - name: Check MPI and PETSc
        continue-on-error: true
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          if python -c "import mpi4py, petsc4py" 2>/dev/null; then
            echo "============================================================="
            echo "Check MPI and PETSc installation"
            echo "============================================================="
            export PRTE_MCA_rmaps_default_mapping_policy=:oversubscribe
            export OMPI_MCA_rmaps_base_oversubscribe=1
            export OMPI_MCA_btl=^openib
            echo "-----------------------"
            echo "Quick test of mpi4py:"
            mpirun -n 3 python -c "from mpi4py import MPI; print(f'Rank: {MPI.COMM_WORLD.rank}')"
            echo "-----------------------"
            echo "Quick test of petsc4py:"
            mpirun -n 3 python -c "import numpy; from mpi4py import MPI; comm = MPI.COMM_WORLD; \
              import petsc4py; petsc4py.init(); \
              x = petsc4py.PETSc.Vec().createWithArray(numpy.ones(5)*comm.rank, comm=comm);  \
              print(x.getArray())"
            echo "-----------------------"

            # shellcheck disable=SC2129
            echo "PRTE_MCA_rmaps_default_mapping_policy=:oversubscribe" >> "$GITHUB_ENV"
            echo "OMPI_MCA_rmaps_base_oversubscribe=1" >> "$GITHUB_ENV"
            echo "OMPI_MCA_btl=^openib" >> "$GITHUB_ENV"

            echo "Workaround for intermittent failures with OMPI https://github.com/open-mpi/ompi/issues/7393"
            echo "TMPDIR=/tmp" >> "$GITHUB_ENV"
          else
            echo "mpi4py or petsc4py not installed in this environment, skipping MPI checks"
          fi

      - name: Run tests
        id: run_tests
        if: ${{ ! matrix.EXCLUDE }}
        env:
          DYMOS_CHECK_PARTIALS: True
        continue-on-error: true
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Run Tests"
          echo "Environment:"
          echo "   DYMOS_CHECK_PARTIALS: $DYMOS_CHECK_PARTIALS"
          echo "============================================================="
          testflo -n 1 docs/dymos_book/test --pre_announce || HAS_ERRORS=true
          testflo -n 1 joss/test --pre_announce || HAS_ERRORS=true
          testflo -b benchmark --pre_announce || HAS_ERRORS=true
          # Run the readme test from the checked out directory.
          testflo -n 1 ./dymos/test/test_readme.py --pre_announce || HAS_ERRORS=true
          cd "$HOME"
          if [[ "${{ matrix.NAME }}" != "latest" ]]; then
            testflo dymos -n 4 --pre_announce --show_skipped --durations 20 --coverage --coverpkg dymos || HAS_ERRORS=true
          else
            testflo dymos -n 4 --pre_announce --show_skipped --durations 20 || HAS_ERRORS=true
          fi

          if [ "$HAS_ERRORS" = true ]; then
            echo "One or more commands failed"
            exit 1
          fi

      - name: Submit coverage
        if: steps.run_tests.outcome == 'success' && github.event_name != 'workflow_dispatch'
        continue-on-error: true
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_SERVICE_NAME: "github"
          COVERALLS_PARALLEL: True
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Submit coverage"
          echo "============================================================="
          cp "$HOME"/.coverage .
          pip install coveralls
          SITE_DIR=$(python -c 'import site; print(site.getsitepackages()[-1])')
          coveralls --basedir "$SITE_DIR"

      - name: Fail the workflow if tests failed
        if: steps.run_tests.outcome != 'success'
        run: |
          echo "Tests failed"
          exit 1

  coveralls:
    name: Finish coveralls
    if: github.event_name != 'workflow_dispatch'
    continue-on-error: true
    needs: test_ubuntu
    runs-on: ubuntu-latest
    steps:
    - uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
