# Run Tests

# Matrix Options
# DOCS: 2-Build and publish, 1-build only, 0-no docs

name: Dymos Tests

on:
  # Trigger on push, pull request or workflow dispatch events for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    branches: [ master ]

jobs:

  test_ubuntu:
    runs-on: ubuntu-20.04

    timeout-minutes: 90

    strategy:
      fail-fast: false
      matrix:
        include:
          # baseline versions
          - NAME: baseline
            PY: 3.8
            NUMPY: 1.18
            SCIPY: 1.4
            PETSc: 3.12
            OPENMPI: '4.0'
            PYOPTSPARSE: 'v2.1.5'
            SNOPT: 7.7
            MBI: 1
            OPENMDAO: 'latest'
            OPTIONAL: '[all]'
            JAX: True
            DOCS: 2

          # baseline versions except no pyoptsparse or SNOPT
          - NAME: no_pyoptsparse
            PY: 3.8
            NUMPY: 1.18
            SCIPY: 1.4
            PETSc: 3.12
            OPENMPI: '4.0'
            MBI: 1
            OPENMDAO: 'latest'
            OPTIONAL: '[all]'
            DOCS: 0

          # baseline versions except with pyoptsparse but no SNOPT
          # build docs to verify those that use pyoptsparse do not use SNOPT
          - NAME: no_snopt
            PY: 3.8
            NUMPY: 1.18
            SCIPY: 1.4
            PETSc: 3.12
            OPENMPI: '4.0'
            PYOPTSPARSE: 'v2.1.5'
            MBI: 1
            OPENMDAO: 'latest'
            OPTIONAL: '[all]'
            DOCS: 1

          # try latest versions
          - NAME: latest
            PY: 3
            NUMPY: 1
            SCIPY: 1
            PETSc: 3
            OPENMPI: '4'
            PYOPTSPARSE: 'v2.1.5'
            SNOPT: 7.7
            MBI: 1
            OPENMDAO: 'dev'
            OPTIONAL: '[test]'
            JAX: True
            DOCS: 0

          # oldest supported versions
          - NAME: oldest
            PY: 3.7
            NUMPY: 1.17
            SCIPY: 1.2
            PETSc: 3.10.2
            PYOPTSPARSE: 'v1.2'
            SNOPT: 7.2
            MBI: 1
            OPENMDAO: 3.13.0
            OPTIONAL: '[all]'
            DOCS: 0

    steps:
      - name: Display run details
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest')
        run: |
          echo "============================================================="
          echo "Run #${GITHUB_RUN_NUMBER}"
          echo "Run ID: ${GITHUB_RUN_ID}"
          echo "Testing: ${GITHUB_REPOSITORY}"
          echo "Triggered by: ${GITHUB_EVENT_NAME}"
          echo "Initiated by: ${GITHUB_ACTOR}"
          echo "============================================================="

      - name: Create SSH key
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest')
        shell: bash
        env:
          SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}
          SSH_KNOWN_HOSTS: ${{secrets.SSH_KNOWN_HOSTS}}
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          sudo chmod 600 ~/.ssh/id_rsa
          echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts

      - name: Checkout code
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest')
        uses: actions/checkout@v2

      - name: Fetch tags
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest')
        run: |
          git fetch --prune --unshallow --tags

      - name: Install miniconda
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest')
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          python-version: ${{ matrix.PY }}
          channels: conda-forge
          allow-softlinks: true
          channel-priority: flexible
          show-channel-urls: true
          use-only-tar-bz2: true

      - name: Install Numpy/Scipy
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest')
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install Numpy/Scipy"
          echo "============================================================="
          conda install numpy=${{ matrix.NUMPY }} scipy=${{ matrix.SCIPY }} -q -y

      - name: Install jax
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest') && matrix.JAX
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install jax"
          echo "============================================================="
          pip install jax
          pip install jaxlib

      - name: Install libscotch
        if: (github.event_name != 'workflow_dispatch' && matrix.name == 'oldest')
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install libscotch"
          echo "============================================================="
          sudo apt-get install -y libscotch-6.0

      - name: Install PETSc
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest') && matrix.PETSc
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install PETSc"
          echo "============================================================="
          if [[ "${{ matrix.OPENMPI }}" ]]; then
            conda install -c conda-forge openmpi=${{ matrix.OPENMPI }} mpi4py petsc=${{ matrix.PETSc }} petsc4py -q -y
          else
            conda install -c conda-forge mpi4py petsc=${{ matrix.PETSc }} petsc4py -q -y
          fi
          echo "OMPI_MCA_rmaps_base_oversubscribe=1" >> $GITHUB_ENV

      - name: Install pyOptSparse
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest') && matrix.PYOPTSPARSE
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install pyoptsparse"
          echo "============================================================="
          git clone -q https://github.com/OpenMDAO/build_pyoptsparse
          cd build_pyoptsparse
          chmod 755 ./build_pyoptsparse.sh
          if [[ "${{ matrix.PETSc }}" && "${{ matrix.PYOPTSPARSE }}" == "v1.2" ]]; then
            PAROPT=-a
          fi
          if [[ "${{ matrix.SNOPT }}" == "7.7" && "${{ secrets.SNOPT_LOCATION_77 }}" ]]; then
            echo "  > Secure copying SNOPT 7.7 over SSH"
            mkdir SNOPT
            scp -qr ${{ secrets.SNOPT_LOCATION_77 }} SNOPT
            ./build_pyoptsparse.sh $PAROPT -b "${{ matrix.PYOPTSPARSE }}" -s SNOPT/src
          elif [[ "${{ matrix.SNOPT }}" == "7.2" && "${{ secrets.SNOPT_LOCATION_72 }}" ]]; then
            echo "  > Secure copying SNOPT 7.2 over SSH"
            mkdir SNOPT
            scp -qr ${{ secrets.SNOPT_LOCATION_72 }} SNOPT
            ./build_pyoptsparse.sh $PAROPT -b "${{ matrix.PYOPTSPARSE }}" -s SNOPT/source
          else
            if [[ "${{ matrix.SNOPT }}" ]]; then
              echo "SNOPT version ${{ matrix.SNOPT }} was requested but source is not available"
            fi
            ./build_pyoptsparse.sh $PAROPT -b "${{ matrix.PYOPTSPARSE }}"
          fi
          cd ..
          echo "LD_LIBRARY_PATH=$HOME/ipopt/lib" >> $GITHUB_ENV

      - name: Install MBI
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest') && matrix.MBI
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install MBI"
          echo "============================================================="
          git clone -q https://github.com/OpenMDAO/MBI
          cd MBI
          pip install .

      - name: Install OpenMDAO
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest') && matrix.OPENMDAO
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install OpenMDAO"
          echo "============================================================="
          if [[ "${{ matrix.OPENMDAO }}" == "dev" ]]; then
            pip install git+https://github.com/OpenMDAO/OpenMDAO
          elif [[ "${{ matrix.OPENMDAO }}" == "latest" ]]; then
            pip install openmdao
          else
            pip install openmdao==${{ matrix.OPENMDAO }}
          fi

      - name: Install optional dependencies
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest') && matrix.OPTIONAL == '[all]'
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install additional packages for testing/coverage"
          echo "============================================================="
          pip install bokeh

      - name: Install Dymos
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest')
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install Dymos"
          echo "============================================================="
          pip install .${{ matrix.OPTIONAL }}

      - name: Display conda info
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest')
        shell: bash -l {0}
        run: |
          conda info
          conda list

      - name: Run tests
        if: (github.event_name != 'workflow_dispatch' || matrix.NAME == 'latest')
        env:
          DYMOS_CHECK_PARTIALS: True
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Run Tests"
          echo "Environment:"
          echo "   DYMOS_CHECK_PARTIALS: $DYMOS_CHECK_PARTIALS"
          echo "============================================================="
          testflo -n 1 docs/dymos_book/test --pre_announce
          testflo -n 1 joss/test --pre_announce
          testflo -b benchmark --pre_announce
          cd $HOME
          testflo dymos -n 1 --pre_announce --show_skipped --coverage --coverpkg dymos

      - name: Submit coverage
        if: (github.event_name != 'workflow_dispatch')
        shell: bash -l {0}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_SERVICE_NAME: "github"
          COVERALLS_PARALLEL: True
        run: |
          echo "============================================================="
          echo "Submit coverage"
          echo "============================================================="
          cp $HOME/.coverage .
          pip install coveralls
          SITE_DIR=`python -c 'import site; print(site.getsitepackages()[-1])'`
          coveralls --basedir $SITE_DIR

      - name: Build docs
        if: (github.event_name != 'workflow_dispatch') && (matrix.DOCS == '1' || matrix.DOCS == '2')
        id: build_docs
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Building Docs"
          echo "============================================================="
          pip install git+https://github.com/executablebooks/jupyter-book
          cd docs
          jupyter-book build -W --keep-going dymos_book
          python copy_build_artifacts.py

      - name: Display doc build reports
        continue-on-error: True
        if: |
          github.event_name != 'workflow_dispatch' &&
          failure() &&
          (matrix.DOCS == '1' || matrix.DOCS == '2') &&
          steps.build_docs.outcome == 'failure'
        run: |
          for f in /home/runner/work/dymos/dymos/docs/dymos_book/_build/html/reports/*; do
            echo "============================================================="
            echo $f
            echo "============================================================="
            cat $f
          done

      - name: Publish docs
        if: |
          github.event_name == 'push' && github.ref == 'refs/heads/master' &&
          matrix.DOCS == '2'
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Publishing Docs"
          echo "============================================================="
          pip install ghp-import
          cd $HOME/work/dymos/dymos
          pwd
          ghp-import -n -p -f docs/dymos_book/_build/html

  coveralls:
    name: Finish coveralls
    if: (github.event_name != 'workflow_dispatch')
    needs: test_ubuntu
    runs-on: ubuntu-latest
    steps:
    - uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
