# Build docs

name: Dymos Docs

on:
  # Trigger on push, pull request
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, develop ]

  # Trigger on release, to publish release versioned docs to openmdao.org
  release:
    types: [published]

  # Allow running the workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      run_name:
        type: string
        description: 'Name of workflow run as it will appear under Actions tab:'
        required: false
        default: ""

      baseline_no_snopt:
        type: boolean
        description: 'Include baseline_no_snopt in test matrix'
        required: false
        default: true

      latest:
        type: boolean
        description: 'Include latest in test matrix'
        required: false
        default: true

      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled'
        required: false
        default: false

concurrency:
  # Cancel any existing CI runs if we push to this branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

run-name: ${{ inputs.run_name }}

permissions: {}

jobs:

  docs:

    timeout-minutes: 120

    strategy:
      fail-fast: false
      matrix:
        include:
          # baseline versions without SNOPT
          # build docs to verify those that use pyoptsparse do not use SNOPT
          - NAME: baseline_no_snopt
            OS: ubuntu-24.04
            PY: '3.13'
            NUMPY: '2.2'
            SCIPY: '1.15'
            PETSc: '3.23'
            PYOPTSPARSE: '2.13.1'
            PYOPTSPARSE_FROM: 'conda-forge'
            OPENMDAO: 'latest'
            OPTIONAL: '[docs]'
            JAX: true
            PUBLISH_DOCS: true
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch' && ! inputs.baseline_no_snopt }}

          # make sure the latest versions of things don't break the docs
          - NAME: latest
            OS: ubuntu-24.04
            PY: '3.13'
            NUMPY: '2'
            SCIPY: '1'
            PETSc: '3'
            PYOPTSPARSE: 'latest'
            PYOPTSPARSE_FROM: 'build_pyoptsparse'
            SNOPT: '7.7'
            OPENMDAO: 'dev'
            OPTIONAL: '[docs]'
            JAX: true
            PUBLISH_DOCS: false
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch' && ! inputs.latest }}

    runs-on: ${{ matrix.OS }}

    name: ${{ matrix.NAME }}

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout Dymos code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history for all tags and branches

      - name: Fetch tags
        run: |
          git fetch --prune --unshallow --tags || true

      - name: Setup and Install Dymos
        id: setup_dymos_ci
        uses: OpenMDAO/OpenMDAO/.github/actions/setup_openmdao_ci@master
        with:
          matrix_name: ${{ matrix.NAME }}
          os_version: ${{ matrix.OS }}
          python_version: ${{ matrix.PY }}
          numpy_version: ${{ matrix.NUMPY }}
          scipy_version: ${{ matrix.SCIPY }}
          exclude: ${{ matrix.EXCLUDE }}
          use_pypi: false
          PEP517: false
          optional: ${{ matrix.OPTIONAL }}

      - name: Install OpenMDAO
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install OpenMDAO"
          echo "============================================================="
          if [[ "${{ matrix.OPENMDAO }}" == "dev" ]]; then
            pip install git+https://github.com/OpenMDAO/OpenMDAO
          elif [[ "${{ matrix.OPENMDAO }}" == "latest" ]]; then
            pip install openmdao
          else
            pip install openmdao==${{ matrix.OPENMDAO }}
          fi

      - name: Install pyOptSparse
        if: matrix.PYOPTSPARSE
        id: install_pyoptsparse
        uses: OpenMDAO/OpenMDAO/.github/actions/install_pyoptsparse@master
        with:
          pyoptsparse_version: ${{ matrix.PYOPTSPARSE }}
          pyoptsparse_from: ${{ matrix.PYOPTSPARSE_FROM }}
          snopt_version: ${{ matrix.SNOPT }}
          SECRET_ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          SECRET_ssh_known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          SECRET_snopt_location: ${{ secrets.SNOPT_LOCATION }}
          SECRET_snopt_location_72: ${{ secrets.SNOPT_LOCATION_72 }}
          SECRET_snopt_location_77: ${{ secrets.SNOPT_LOCATION_77 }}

      - name: Install PETSc and mpi4py
        if: matrix.PETSc
        id: install_petsc
        uses: OpenMDAO/OpenMDAO/.github/actions/install_petsc@master
        with:
          openmpi_version: ${{ matrix.OPENMPI }}
          petsc_version: ${{ matrix.PETSc }}
          mpi4py_version: ${{ matrix.MPI4PY }}

      - name: Install optional dependencies
        if: matrix.OPTIONAL
        id: install_optional_dependencies
        uses: OpenMDAO/OpenMDAO/.github/actions/install_optional_dependencies@master
        with:
          os_version: ${{ matrix.OS }}
          optional: ${{ matrix.OPTIONAL }}

      - name: Install JAX
        if: matrix.JAX
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install JAX"
          echo "============================================================="
          python -m pip install jax jaxlib

      - name: Install Dymos
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install Dymos"
          echo "============================================================="
          pip install .${{ matrix.OPTIONAL }}

      - name: Display environment info
        id: display_env_info
        uses: OpenMDAO/OpenMDAO/.github/actions/display_environment_info@master
        with:
          matrix_name: ${{ matrix.NAME }}
          SECRET_slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          python_version: ${{ matrix.PY }}
          numpy_version: ${{ matrix.NUMPY }}
          scipy_version: ${{ matrix.SCIPY }}

      - name: Build docs
        id: build_docs
        shell: bash -l {0}
        continue-on-error: true
        run: |
          echo "============================================================="
          echo "Building Dymos Docs"
          echo "============================================================="
          cd docs
          export PYDEVD_DISABLE_FILE_VALIDATION=1
          jupyter-book build -W --keep-going dymos_book

      - name: Display doc build reports
        if: steps.build_docs.outcome == 'failure'
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Doc Build Reports"
          echo "============================================================="
          find docs/dymos_book/_build/html/reports/ -type f -name '*.log' \
          -exec echo "#################################################################" \; \
          -exec echo {} \; \
          -exec echo "#################################################################" \; \
          -exec cat {} \;
          exit 1

      - name: Archive built docs
        if: steps.build_docs.outcome == 'success'
        uses: actions/upload-artifact@v4
        with:
          name: built-docs-${{ matrix.NAME }}
          path: docs/dymos_book/_build/html
          retention-days: 5

      - name: Publish docs to github.io
        if: |
          github.event_name == 'push' &&
          matrix.PUBLISH_DOCS &&
          steps.build_docs.outcome == 'success'
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Publishing Docs to github.io"
          echo "============================================================="
          pip install ghp-import
          ghp-import -n -p -f docs/dymos_book/_build/html

      - name: Publish docs to openmdao.org
        if: |
          (github.event_name == 'push' || github.event_name == 'release') &&
          matrix.PUBLISH_DOCS &&
          steps.build_docs.outcome == 'success'
        shell: bash -l {0}
        env:
          DOCS_LOCATION: ${{ secrets.DOCS_LOCATION }}
        run: |
          if [[ "${#DOCS_LOCATION}" ]]; then
            echo "============================================================="
            echo "Create env with openssl compatible with hosting service"
            echo "============================================================="
            conda create -n upload python=3.11 packaging openssl=3 openmdao -y
            conda activate upload

            echo "============================================================="
            echo "Publishing Docs to openmdao.org"
            echo "============================================================="
            python -m openmdao.docs.upload_doc_version docs/dymos_book/_build/html/ ${{ secrets.DOCS_LOCATION }}
          else
            echo "Docs destination not available."
          fi

      - name: Slack doc build failure
        if: steps.build_docs.outcome == 'failure' && secrets.SLACK_WEBHOOK_URL != ''
        uses: act10ns/slack@v2.0.0
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          status: ${{ steps.build_docs.outcome }}
          message: |
            Dymos doc build failed on `${{ matrix.NAME }}` build.
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

      - name: Fail the workflow if doc build failed
        if: steps.build_docs.outcome == 'failure'
        uses: actions/github-script@v8
        with:
          script: |
              let docs_fail = ${{ steps.build_docs.outcome == 'failure' }};
              if (docs_fail) {
                  core.setFailed('Doc build failed.');
              }
