# Run Tests

name: Dymos Tests

on:
  # Trigger on push, pull request
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, develop ]

  # Allow running the workflow manually from the Actions tab
  # All jobs are excluded by default, desired jobs must be selected
  workflow_dispatch:

    inputs:

      run_name:
        type: string
        description: 'Name of workflow run as it will appear under Actions tab:'
        required: false
        default: ""

      baseline:
        type: boolean
        description: "Include 'baseline' in test matrix"
        required: false
        default: true

      no_pyoptsparse:
        type: boolean
        description: "Include 'no_pyoptsparse' in test matrix"
        required: false
        default: true

      no_snopt:
        type: boolean
        description: "Include 'no_snopt' in test matrix"
        required: false
        default: true

      no_mpi:
        type: boolean
        description: "Include 'no_mpi' in test matrix"
        required: false
        default: true

      latest:
        type: boolean
        description: "Include 'latest' in test matrix"
        required: false
        default: true

      latest_dymos_2:
        type: boolean
        description: "Include 'latest_dymos_2' in test matrix"
        required: false
        default: true

      oldest:
        type: boolean
        description: "Include 'oldest' in test matrix"
        required: false
        default: true

      use_pypi:
        type: boolean
        description: 'Run tests against the published PyPI version of Dymos'
        required: false
        default: false

      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled'
        required: false
        default: false

concurrency:
  # Cancel any existing CI runs if we push to this branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

run-name: ${{ inputs.run_name }}

permissions: {}

jobs:

  tests:

    timeout-minutes: 120

    strategy:
      fail-fast: false
      matrix:
        include:
          # baseline versions
          - NAME: baseline
            OS: ubuntu-24.04
            PY: '3.13'
            NUMPY: '2.2'
            SCIPY: '1.15'
            PETSc: '3.23'
            PYOPTSPARSE: '2.13.1'
            PYOPTSPARSE_FROM: 'conda-forge'
            SNOPT: '7.7'
            OPENMDAO: 'latest'
            PEP517: true
            OPTIONAL: '[all]'
            JAX: true
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch' && ! inputs.baseline }}

          # baseline versions except no pyoptsparse or SNOPT
          - NAME: no_pyoptsparse
            OS: ubuntu-24.04
            PY: '3.13'
            NUMPY: '2.2'
            SCIPY: '1.15'
            PETSc: '3.23'
            OPENMDAO: 'latest'
            OPTIONAL: '[test]'
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch' && ! inputs.no_pyoptsparse }}

          # baseline versions except with pyoptsparse but no SNOPT
          - NAME: no_snopt
            OS: ubuntu-24.04
            PY: '3.13'
            NUMPY: '2.2'
            SCIPY: '1.15'
            PETSc: '3.23'
            PYOPTSPARSE: '2.13.1'
            PYOPTSPARSE_FROM: 'conda-forge'
            OPENMDAO: 'latest'
            PEP517: true
            OPTIONAL: '[all]'
            JAX: true
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch' && ! inputs.no_snopt }}

          # baseline versions except no MPI/PETSc
          - NAME: no_mpi
            OS: ubuntu-24.04
            PY: '3.13'
            NUMPY: '2.2'
            SCIPY: '1.15'
            PYOPTSPARSE: '2.13.1'
            PYOPTSPARSE_FROM: 'conda-forge'
            OPENMDAO: 'latest'
            OPTIONAL: '[test]'
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch' && ! inputs.no_mpi }}

          # latest versions
          - NAME: latest
            OS: ubuntu-24.04
            PY: '3.13'
            NUMPY: '2'
            SCIPY: '1'
            PETSc: '3'
            PYOPTSPARSE: 'latest'
            PYOPTSPARSE_FROM: 'build_pyoptsparse'
            SNOPT: '7.7'
            OPENMDAO: 'dev'
            OPTIONAL: '[all]'
            JAX: true
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch' && ! inputs.latest }}

          # latest versions dymos 2 testing
          - NAME: latest_dymos_2
            OS: ubuntu-24.04
            PY: '3.13'
            NUMPY: '2'
            SCIPY: '1'
            PETSc: '3'
            PYOPTSPARSE: 'latest'
            PYOPTSPARSE_FROM: 'build_pyoptsparse'
            SNOPT: '7.7'
            OPENMDAO: 'dev'
            OPTIONAL: '[all]'
            JAX: true
            DYMOS_2: true
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch' && ! inputs.latest_dymos_2 }}

          # oldest supported versions
          - NAME: oldest
            OS: ubuntu-22.04
            PY: '3.10'
            NUMPY: '2.0'
            SCIPY: '1.13'
            OPENMPI: '4.0'
            MPI4PY: '3.0'
            PETSc: '3.13'
            PYOPTSPARSE: '2.10.2'
            PYOPTSPARSE_FROM: 'build_pyoptsparse'
            SNOPT: '7.2'
            OPENMDAO: '3.36.0'
            MATPLOTLIB: '3.5'
            OPTIONAL: '[test]'
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch' && ! inputs.oldest }}

    runs-on: ${{ matrix.OS }}

    name: ${{ matrix.NAME }}

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout Dymos code
        uses: actions/checkout@v4

      - name: Setup and Install Dymos
        id: setup_dymos_ci
        uses: OpenMDAO/OpenMDAO/.github/actions/setup_openmdao_ci@master
        with:
          matrix_name: ${{ matrix.NAME }}
          os_version: ${{ matrix.OS }}
          python_version: ${{ matrix.PY }}
          numpy_version: ${{ matrix.NUMPY }}
          scipy_version: ${{ matrix.SCIPY }}
          exclude: ${{ matrix.EXCLUDE }}
          use_pypi: ${{ inputs.use_pypi }}
          PEP517: ${{ matrix.PEP517 }}
          optional: ${{ matrix.OPTIONAL }}

      - name: Install OpenMDAO
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install OpenMDAO"
          echo "============================================================="
          if [[ "${{ matrix.OPENMDAO }}" == "dev" ]]; then
            pip install git+https://github.com/OpenMDAO/OpenMDAO
          elif [[ "${{ matrix.OPENMDAO }}" == "latest" ]]; then
            echo "The latest version OpenMDAO will be installed from pypi per the Dymos dependency"
          else
            pip install openmdao==${{ matrix.OPENMDAO }}
          fi

      - name: Install pyOptSparse
        if: matrix.PYOPTSPARSE
        id: install_pyoptsparse
        uses: OpenMDAO/OpenMDAO/.github/actions/install_pyoptsparse@master
        with:
          pyoptsparse_version: ${{ matrix.PYOPTSPARSE }}
          pyoptsparse_from: ${{ matrix.PYOPTSPARSE_FROM }}
          snopt_version: ${{ matrix.SNOPT }}
          SECRET_ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          SECRET_ssh_known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          SECRET_snopt_location: ${{ secrets.SNOPT_LOCATION }}
          SECRET_snopt_location_72: ${{ secrets.SNOPT_LOCATION_72 }}
          SECRET_snopt_location_77: ${{ secrets.SNOPT_LOCATION_77 }}

      - name: Install PETSc and mpi4py
        if: matrix.PETSc
        id: install_petsc
        uses: OpenMDAO/OpenMDAO/.github/actions/install_petsc@master
        with:
          openmpi_version: ${{ matrix.OPENMPI }}
          petsc_version: ${{ matrix.PETSc }}
          mpi4py_version: ${{ matrix.MPI4PY }}

      - name: Install optional dependencies
        if: matrix.OPTIONAL
        id: install_optional_dependencies
        uses: OpenMDAO/OpenMDAO/.github/actions/install_optional_dependencies@master
        with:
          os_version: ${{ matrix.OS }}
          optional: ${{ matrix.OPTIONAL }}

      - name: Install JAX
        if: matrix.JAX
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install JAX"
          echo "============================================================="
          python -m pip install jax jaxlib

      - name: Install Matplotlib
        if: matrix.MATPLOTLIB
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install requested version of Matplotlib"
          echo "============================================================="
          python -m pip install matplotlib==${{ matrix.MATPLOTLIB }}

      - name: Install Dymos
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Install Dymos"
          echo "============================================================="
          if [[ "${{ inputs.use_pypi }}" == "true" ]]; then
            echo "-----------------------------------------------------------"
            echo "Installing from PyPI"
            echo "-----------------------------------------------------------"
            python -m pip install dymos${{ matrix.OPTIONAL }}
          elif [[ "${{ matrix.PEP517 }}" == "true" ]]; then
            pip wheel --no-deps --use-pep517 .
            WHEEL=`find dymos-*.whl`
            echo "-----------------------------------------------------------"
            echo "Installing from wheel: $WHEEL"
            echo "-----------------------------------------------------------"
            python -m pip install $WHEEL${{ matrix.OPTIONAL }}
          else
            python -m pip install .${{ matrix.OPTIONAL }}
          fi

      - name: Display environment info
        id: display_env_info
        uses: OpenMDAO/OpenMDAO/.github/actions/display_environment_info@master
        with:
          matrix_name: ${{ matrix.NAME }}
          SECRET_slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          python_version: ${{ matrix.PY }}
          numpy_version: ${{ matrix.NUMPY }}
          scipy_version: ${{ matrix.SCIPY }}

      - name: Set Environment for Dymos 2
        if: matrix.DYMOS_2
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Setting environment variable DYMOS_2=1"
          echo "============================================================="
          echo "DYMOS_2=1" >> $GITHUB_ENV

      - name: Perform linting with Ruff
        if: matrix.NAME == 'baseline'
        continue-on-error: true
        shell: bash -l {0}
        run: |
          echo "============================================================="
          echo "Lint Dymos code per settings in pyproject.toml"
          echo "============================================================="
          python -m pip install ruff
          ruff check . --config pyproject.toml

      - name: Run tests
        shell: bash -l {0}
        env:
          DYMOS_CHECK_PARTIALS: True
        run: |
          HAS_ERRORS=false
          echo "============================================================="
          echo "Run Tests"
          echo "Environment:"
          echo "   DYMOS_CHECK_PARTIALS: $DYMOS_CHECK_PARTIALS"
          if [[ "${{ matrix.DYMOS_2 }}" == "true" ]]; then
            echo "   DYMOS_2: $DYMOS_2"
          fi
          echo "============================================================="
          testflo -n 1 docs/dymos_book/test --pre_announce || HAS_ERRORS=true
          testflo -n 1 joss/test --pre_announce || HAS_ERRORS=true
          testflo -b benchmark --pre_announce || HAS_ERRORS=true
          testflo -n 1 ./dymos/test/test_readme.py --pre_announce || HAS_ERRORS=true
          cd $HOME
          if [[ "${{ matrix.NAME }}" != "latest" && "${{ matrix.NAME }}" != "latest_dymos_2" ]]; then
            testflo dymos -n 4 --pre_announce --show_skipped --durations 20 --coverage --coverpkg dymos || HAS_ERRORS=true
          else
            testflo dymos -n 4 --pre_announce --show_skipped --durations 20 || HAS_ERRORS=true
          fi

          if [ "$HAS_ERRORS" = true ]; then
            echo "One or more commands failed"
            exit 1
          fi

      - name: Submit coverage
        if: github.event_name != 'workflow_dispatch' && matrix.NAME != 'latest' && matrix.NAME != 'latest_dymos_2'
        continue-on-error: true
        shell: bash -l {0}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_SERVICE_NAME: "github"
          COVERALLS_PARALLEL: True
        run: |
          echo "============================================================="
          echo "Submit coverage"
          echo "============================================================="
          cp $HOME/.coverage .
          pip install coveralls
          SITE_DIR=`python -c 'import site; print(site.getsitepackages()[-1])'`
          coveralls --basedir $SITE_DIR

  coveralls:
    name: Finish coveralls
    if: github.event_name != 'workflow_dispatch'
    continue-on-error: true
    needs: tests
    runs-on: ubuntu-latest
    steps:
    - uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
