# Build docs

name: Dymos Docs

on:
  # Trigger on push, pull request
  push:
    branches: [ master ]
  pull_request:
    branches: [ master, develop ]

  # Trigger on release, to publish release versioned docs to openmdao.org
  release:
    types: [published]

  # Trigger via workflow_dispatch event
  workflow_dispatch:

concurrency:
  # Cancel any existing CI runs if we push to this branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  test_ubuntu:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    timeout-minutes: 90

    strategy:
      fail-fast: false
      matrix:
        include:
          # baseline versions
          - NAME: baseline
            OPENMDAO_PIXI_ENVIRONMENT: 'dev'
            OPENMDAO_INSTALL_FROM: 'pypi'
            OPENMDAO: '3.41.0'
            DYMOS_2: False
            PEP517: True
            PUBLISH_DOCS: True
            EXCLUDE: ${{ github.event_name == 'workflow_dispatch'  && ! inputs.latest }}

          # # baseline versions except no MPI/PETSc
          # - NAME: no_mpi
          #   OPENMDAO_PIXI_ENVIRONMENT: 'default'
          #   OPENMDAO_INSTALL_FROM: 'pypi'
          #   OPENMDAO: '3.41.0'
          #   DYMOS_2 : False
          #   EXCLUDE: ${{ github.event_name == 'workflow_dispatch'  && ! inputs.latest }}

          # # latest versions
          # - NAME: latest
          #   OPENMDAO_PIXI_ENVIRONMENT: 'py313'
          #   OPENMDAO_INSTALL_FROM: 'github'
          #   OPENMDAO: ''
          #   DYMOS_2 : False
          #   EXCLUDE: ${{ github.event_name == 'workflow_dispatch'  && ! inputs.latest }}

          # # latest versions dymos 2 testing
          # - NAME: latest_dymos_2
          #   OPENMDAO_PIXI_ENVIRONMENT: 'py313'
          #   OPENMDAO_INSTALL_FROM: 'github'
          #   OPENMDAO: ''
          #   DYMOS_2 : True
          #   EXCLUDE: ${{ github.event_name == 'workflow_dispatch'  && ! inputs.latest }}

          # # oldest supported versions
          # - NAME: oldest
          #   OPENMDAO_PIXI_ENVIRONMENT: 'oldest'
          #   OPENMDAO_INSTALL_FROM: 'pypi'
          #   OPENMDAO: '3.36.0'
          #   EXCLUDE: ${{ github.event_name == 'workflow_dispatch'  && ! inputs.oldest }}

    steps:
      - name: Display run details
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Run #${GITHUB_RUN_NUMBER}"
          echo "Run ID: ${GITHUB_RUN_ID}"
          echo "Testing: ${GITHUB_REPOSITORY}"
          echo "Triggered by: ${GITHUB_EVENT_NAME}"
          echo "Initiated by: ${GITHUB_ACTOR}"
          echo "============================================================="
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            if [[ "${{ matrix.EXCLUDE }}" == "false" ]]; then
              echo "Triggered by 'workflow_dispatch', '${{ matrix.NAME }}' build was selected and will run."
            else
              echo "Triggered by 'workflow_dispatch', '${{ matrix.NAME }}' build not selected and will not run."
            fi
          fi

      - name: Checkout code
        if: ${{ ! matrix.EXCLUDE }}
        uses: actions/checkout@v6

      - name: 'Setup OpenMDAO pixi Environment'
        id: setup_pixi_environment
        # uses: OpenMDAO/OpenMDAO/.github/actions/setup_openmdao_pixi@master
        uses: robfalck/OpenMDAO/.github/actions/setup_openmdao_pixi@reusable_ci
        with:
          environment: '${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }}'
          openmdao_install_from: '${{ matrix.OPENMDAO_INSTALL_FROM }}'
          openmdao_version: '${{ matrix.OPENMDAO }}'

      - name: Install Dymos
        if: ${{ ! matrix.EXCLUDE }}
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Install Dymos"
          echo "============================================================="
          if [[  "${{ inputs.use_pypi }}" == "true" ]]; then
            echo "-----------------------------------------------------------"
            echo "Installing from PyPI"
            echo "-----------------------------------------------------------"
            python -m pip install dymos --no-deps
          elif [[ "${{ matrix.PEP517 }}" == "true" ]]; then
            pip wheel --no-deps --use-pep517 .
            WHEEL=$(find dymos-*.whl)
            echo "-----------------------------------------------------------"
            echo "Installing from wheel: $WHEEL"
            echo "-----------------------------------------------------------"
            python -m pip install "$WHEEL"
          else
            python -m pip install .  --no-deps
          fi

      - name: Install optional dependencies
        if: matrix.OPENMDAO_PIXI_ENVIRONMENT == 'dev'
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Install additional packages for testing/coverage"
          echo "============================================================="
          echo "Pre-install playwright dependencies to avoid 'Playwright Host validation warning'"
          pip install playwright
          playwright install --with-deps

      - name: Set Environment for Dymos 2
        if: matrix.DYMOS_2
        shell: bash -l {0}
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Setting environement variable DYMOS_2=1"
          echo "============================================================="
          export "$DYMOS_2"=1
          echo "$DYMOS_2=1" >> $"GITHUB_ENV"

      # - name: Display environment info
      #   id: env_info
      #   if: ${{ ! matrix.EXCLUDE }}
      #   run: |
      #     printenv

      #     conda info
      #     conda list
      #     conda env export --name test --file environment.yml
      #     mv environment.yml ${{ matrix.NAME }}_environment.yml

      # - name: Display dependency tree
      #   if: failure() && steps.env_info.outcome == 'failure'
      #   run: |
      #     pip install pipdeptree
      #     pipdeptree

      # - name: Upload environment artifact
      #   if: ${{ ! matrix.EXCLUDE }}
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: ${{ matrix.NAME }}_environment
      #     path: ${{ matrix.NAME }}_environment.yml
      #     retention-days: 5

      - name: Perform linting with Ruff
        if: ${{ ! matrix.EXCLUDE && matrix.NAME == 'baseline' }}
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Lint Dymos code per settings in pyproject.toml"
          echo "============================================================="
          ruff check . --config pyproject.toml

      - name: Check MPI and PETSc
        continue-on-error: true
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          if python -c "import mpi4py, petsc4py" 2>/dev/null; then
            echo "============================================================="
            echo "Check MPI and PETSc installation"
            echo "============================================================="
            export PRTE_MCA_rmaps_default_mapping_policy=:oversubscribe
            export OMPI_MCA_rmaps_base_oversubscribe=1
            export OMPI_MCA_btl=^openib
            echo "-----------------------"
            echo "Quick test of mpi4py:"
            mpirun -n 3 python -c "from mpi4py import MPI; print(f'Rank: {MPI.COMM_WORLD.rank}')"
            echo "-----------------------"
            echo "Quick test of petsc4py:"
            mpirun -n 3 python -c "import numpy; from mpi4py import MPI; comm = MPI.COMM_WORLD; \
              import petsc4py; petsc4py.init(); \
              x = petsc4py.PETSc.Vec().createWithArray(numpy.ones(5)*comm.rank, comm=comm);  \
              print(x.getArray())"
            echo "-----------------------"

            # shellcheck disable=SC2129
            echo "PRTE_MCA_rmaps_default_mapping_policy=:oversubscribe" >> "$GITHUB_ENV"
            echo "OMPI_MCA_rmaps_base_oversubscribe=1" >> "$GITHUB_ENV"
            echo "OMPI_MCA_btl=^openib" >> "$GITHUB_ENV"

            echo "Workaround for intermittent failures with OMPI https://github.com/open-mpi/ompi/issues/7393"
            echo "TMPDIR=/tmp" >> "$GITHUB_ENV"
          else
            echo "mpi4py or petsc4py not installed in this environment, skipping MPI checks"
          fi

      - name: Build docs
        id: build_docs
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Building Docs"
          echo "============================================================="
          cd docs
          export PYDEVD_DISABLE_FILE_VALIDATION=1
          jupyter-book build -W --keep-going dymos_book

      - name: Display doc build reports
        continue-on-error: True
        if: failure() && steps.build_docs.outcome == 'failure'
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo $PWD
          cd docs
          find dymos_book/_build/html/reports/ -type f -name '*.log' \
          -exec echo "#################################################################" \; \
          -exec echo {} \; \
          -exec echo "#################################################################" \; \
          -exec cat {} \;

      - name: Publish docs to github.io
        if: |
          github.event_name == 'push' && matrix.PUBLISH_DOCS
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          echo "============================================================="
          echo "Publishing Docs to github.io"
          echo "============================================================="
          pip install ghp-import
          cd $HOME/work/dymos/dymos
          ghp-import -n -p -f docs/dymos_book/_build/html

      - name: Publish docs to openmdao.org
        if: |
          (github.event_name == 'push' || github.event_name == 'release') &&
          matrix.PUBLISH_DOCS
        env:
          DOCS_LOCATION: ${{ secrets.DOCS_LOCATION }}
        run: |
          eval "$(pixi shell-hook -e ${{ matrix.OPENMDAO_PIXI_ENVIRONMENT }} --manifest-path=${{ env.PIXI_MANIFEST }})"
          if [[ "${#DOCS_LOCATION}" ]]; then
            echo "============================================================="
            echo "Create env with openssl compatible with hosting service"
            echo "============================================================="
            conda create -n upload python=3.11 packaging openssl=3 openmdao -y
            conda activate upload

            echo "============================================================="
            echo "Publishing Docs to openmdao.org"
            echo "============================================================="
            echo "Publish docs"
            cd $HOME/work/dymos/dymos
            python -m openmdao.docs.upload_doc_version docs/dymos_book/_build/html/ ${{ secrets.DOCS_LOCATION }}
          else
            echo "Docs destination not available."
          fi
